.waveform {
  width: 60%;
  position: absolute;
  bottom: 80px;
}

.cover-photo:not(.active) {

  &.left {
    transform: translateX(-75%);
  }

  &.right {
    transform: translateX(75%);
  }
}

.player-track {
  --bar-background-active: #37b34a;
  margin-top: -3px;
}

.player-track-bar {
  position: absolute;
  width: 90%;
  bottom: 80px;
}

.player-logo__button {
  display: flex;
  width: 75px;
  height: 75px;
  border: 2px solid #37b34a;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 37.5px);
  left: calc(50% - 37.5px);
  z-index: 2;
}

.player-logo__image {
  width: 50%;
}

.main-bg__gradient {
  background-color: #1b1b1b;
  background-image: linear-gradient(to top, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
  width: 100%;
  height: 400px;
}

:host(.range-has-pin) {
  padding-top: unset;
}
