<ion-content scroll-y="false" *ngIf="songsList; else noSongs">
    <ion-grid class="ion-padding" >
        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col>
                <img src="assets/back_ico.svg" alt="" (click)="backToMainPage()">
            </ion-col>
            <ion-col class="ion-text-center">
                <p class="ion-no-margin font-size__small font-color__gray">ALBUM</p>
                <p class="ion-no-margin font-size__medium font-color__white">{{activeSong.albumName}}</p>
            </ion-col>
            <ion-col class="ion-align-self-end ion-text-end" (click)="loadMoreAlbumInfo()">
                <img src="assets/more_ico.svg" alt="">
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="12">
                <ion-row class="ion-text-center ion-justify-content-center">
                    <ion-col size="10">
                        <ion-slides [options]="options" (ionSlideDidChange)="onSlideChange()">
                            <ion-slide *ngFor="let album of songsList">
                                <img [src]="album.coverSrc" alt="">
                            </ion-slide>
                        </ion-slides>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>


        <ion-row style="margin-top: 2.5rem;">
            <ion-col>
                <p class="font-size__big font-color__green ion-no-margin ion-text-center">{{activeSong.songName}}</p>
                <p class="font-size__small ion-no-margin ion-text-center font-color__gray">{{activeSong.albumArtist | titlecase}}</p>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-between">
<!--            <ion-col size="1">-->
<!--                <img src="assets/shuffle_ico.svg" alt="">-->
<!--            </ion-col>-->
            <ion-col size="1" class="ion-text-center" (click)="changeSong('prev')">
                <img src="assets/previous_ico.svg" alt="">
            </ion-col>
            <ion-col size="6" class="ion-text-center">
                <img [src]="isSongPlaying ? 'assets/Play_active.png' : 'assets/Play_inactive.png'" alt=""
                     (click)="playSong()">
            </ion-col>
            <ion-col size="1" class="ion-text-center" (click)="changeSong('next')">
                <img src="assets/next_ico.svg" alt="">
            </ion-col>
<!--            <ion-col size="1" class="ion-text-end">-->
<!--                <img src="assets/repeat_ico.svg" alt="">-->
<!--            </ion-col>-->
        </ion-row>

        <ion-row class="ion-align-items-center player-track-bar">
            <ion-col>
                <p class="font-size__small font-color__gray">{{this.getSongTime(this.currentAudioTime).minutes}}
                    :{{this.getSongTime(this.currentAudioTime).seconds}}</p>
            </ion-col>
            <ion-col size="8" class="ion-align-items-center">
                <ion-range class="player-track" min="0" [max]="this.audio.duration" [value]="currentAudioTime" (mouseup)="slideDragEnd()" (ionChange)="slideAudioDuration($event)"></ion-range>
            </ion-col>
            <ion-col>
                <p class="font-size__small font-color__gray ion-text-end">
                    {{this.getSongTime(this.audio.duration).minutes || '00'}}
                    :{{(this.getSongTime(this.audio.duration).seconds | number:'1.0-0') || '00'}}
                </p>
            </ion-col>
        </ion-row>


    </ion-grid>
    <app-next-song [nextSong]="nextSong" (playNextSong)="playNextSong()" (playSongFromPlaylist)="playSongFromPlaylist($event)"></app-next-song>


</ion-content>

<ng-template #noSongs>
    <ion-spinner name="crescent"></ion-spinner>
</ng-template>
