<div class="album-info__overlay" #albumInfoOverlay>
    <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col>
                <img src="assets/back_ico.svg" alt="" (click)="backToMainPage()">
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="12">

                <ion-row class="ion-text-center ion-justify-content-center">
                    <ion-col size="10">
                        <img [src]="activeSong?.coverSrc" alt="">
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>


        <ion-row style="margin-top: 2.5rem">
            <ion-col>
                <p class="font-size__big font-color__green ion-no-margin ion-text-center">{{activeSong?.songName}}</p>
                <p class="font-size__small ion-no-margin ion-text-center font-color__gray">{{activeSong?.albumArtist | titlecase}}</p>
            </ion-col>
        </ion-row>

        <p class="font-size__big font-color__gray ion-text-center ion-no-margin">. . .</p>


        <ion-row>
            <ion-col class="ion-text-center">
                <p class="font-size__medium font-color__white">Add to playlist</p>
                <p class="font-size__medium font-color__white">Show album</p>
                <p class="font-size__medium font-color__white">Share with friends</p>
            </ion-col>
        </ion-row>


    </ion-grid>
</div>
