// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.font-size__small {
  font-size: 14px;
}

.font-size__medium {
  font-size: 18px;
}

.font-size__big {
  font-size: 24px;
}

.font-color__gray {
  color: #9a9b9b;
}

.font-color__green {
  color: #37b34a;
}

.font-color__white {
  color: #fff;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overfow: ellipsis;

}

.bg-green {
  background-color: #37b34a;
}

.h-100 {
  height: 100%;
}

ion-grid.ion-padding {
  padding-bottom: unset;
}

.item-inner {
  padding: 0 !important;
}

app-next-song {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 30;
}

ion-button {
  --background: #37b34a;
  --border-radius: 30px;
  width: 100%;
}
