<ion-content>
    <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col>
                <img src="assets/back_ico.svg" alt="">
            </ion-col>
            <ion-col class="ion-text-center">
                <p class="ion-no-margin font-size__small font-color__gray">ALBUM</p>
                <p class="ion-no-margin font-size__medium font-color__white">{{activeSlideImage.albumName}}</p>
            </ion-col>
            <ion-col class="ion-align-self-end ion-text-end" (click)="loadMoreAlbumInfo()">
                <img src="assets/more_ico.svg" alt="">
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center" >
            <ion-col size="12">


                <ion-row class="ion-text-center ion-justify-content-center">
                    <ion-col size="10">
                        <div class="player-logo__button ion-justify-content-center ion-align-items-center">
                            <img src="assets/performante_logo.svg" alt="" class="player-logo__image">
                        </div>
                        <ion-slides [options]="options" (ionSlideDidChange)="onSlideChange()">
                            <ion-slide *ngFor="let album of coverImages">
                                <img [src]="album.coverSrc" alt="">
                            </ion-slide>
                        </ion-slides>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>


        <ion-row style="margin-top: 2.5rem;">
            <ion-col>
                <p class="font-size__big font-color__green ion-no-margin ion-text-center">Self Conscious</p>
                <p class="font-size__small ion-no-margin ion-text-center font-color__gray">{{activeSlideImage.albumArtist | titlecase}}</p>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-col size="1">
                <img src="assets/shuffle_ico.svg" alt="">
            </ion-col>
            <ion-col size="1" class="ion-text-center" (click)="slides.slidePrev(200)">
                <img src="assets/previous_ico.svg" alt="">
            </ion-col>
            <ion-col size="6" class="ion-text-center">
                <img src="assets/Play_active.png" alt="" (click)="playSong($event)">
            </ion-col>
            <ion-col size="1" class="ion-text-center" (click)="slides.slideNext(200)">
                <img src="assets/next_ico.svg" alt="">
            </ion-col>
            <ion-col size="1" class="ion-text-end">
                <img src="assets/repeat_ico.svg" alt="">
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col>
                <p class="font-size__small font-color__gray">1:47</p>
            </ion-col>
            <ion-col size="8" class="ion-align-items-center">
                <div style="width: 100%; border-radius: 1px; height: 2px; background-color: #000">
                </div>
                <div class="player-track"></div>

            </ion-col>
            <ion-col>
                <p class="font-size__small font-color__gray ion-text-end">4:21</p>
            </ion-col>
        </ion-row>


    </ion-grid>
    <app-next-song></app-next-song>
</ion-content>

<div class="album-info__overlay" #albumInfoOverlay>
    <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col>
                <img src="assets/back_ico.svg" alt="" (click)="backToMainPage()">
            </ion-col>

            <ion-col class="ion-align-self-end ion-text-end" (click)="loadMoreAlbumInfo()">
                <img src="assets/more_ico.svg" alt="">
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="12">

                <ion-row class="ion-text-center ion-justify-content-center">
                    <ion-col size="10">
                        <img [src]="activeSlideImage.coverSrc" alt="">
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>


        <ion-row style="margin-top: 2.5rem">
            <ion-col>
                <p class="font-size__big font-color__green ion-no-margin ion-text-center">Self Conscious</p>
                <p class="font-size__small ion-no-margin ion-text-center font-color__gray">{{activeSlideImage.albumArtist | titlecase}}</p>
            </ion-col>
        </ion-row>

        <p class="font-size__big font-color__gray ion-text-center ion-no-margin">. . .</p>


        <ion-row>
            <ion-col class="ion-text-center">
                <p class="font-size__medium font-color__white">Add to playlist</p>
                <p class="font-size__medium font-color__white">Show album</p>
                <p class="font-size__medium font-color__white">Share with friends</p>
            </ion-col>
        </ion-row>


    </ion-grid>
    <!--<img src="assets/waveform.png" class="waveform">-->
    <!--<app-next-song></app-next-song>-->

</div>
