<div class="next-song-box ion-align-items-center ion-padding">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <img src="assets/playlist_ico.svg" alt="" (click)="openPlaylist()">
            </ion-col>
            <ion-col size="8">
                <p class="ion-no-margin font-size__small font-color__gray ion-no-margin">NEXT</p>
                <ng-container *ngIf="nextSong; else noNextSong">
                    <p class="ion-no-margin font-size__medium ion-no-margin text-overflow"
                       (click)="playSong(nextSong)">{{nextSong.songName || ''}}
                        <span class="font-color__gray">
                    ............................................................................................
                    ............................................................................................
                </span>
                    </p></ng-container>
                <ng-template #noNextSong>No next song available</ng-template>
            </ion-col>
            <ion-col class="ion-align-self-end">
                <p class="font-color__gray font-size__medium ion-no-margin ion-text-end">{{nextAudio.duration || '00:00'}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
