<ion-content scroll-y="false">
  <ion-grid class="ion-padding h-100">
    <ion-row style="display: flex; flex-direction: column" class="h-100">
      <ion-col style="display: flex; flex-direction: column"
               class="ion-text-center font-color__white ion-justify-content-center">
        <ion-card class="register-card">
          <ion-card-header>
            <ion-card-title>Register into Spotifake</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="form">
              <ion-input formControlName="login" placeholder="Enter email (login)"></ion-input>
              <ion-input formControlName="password" placeholder="Enter password"></ion-input>
              <ion-input formControlName="repeatPassword" placeholder="Repeat password"></ion-input>
            </form>
            <ion-button expand="block" (click)="registerAccount()" [disabled]="loading || form.invalid || !passwordsAreCorrect()">Register
              <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
